apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ ext_cluster.ca_data }}
    server: {{ ext_cluster.url }}
    name: {{ ext_cluster.name }}
contexts:
- context:
    cluster: {{ ext_cluster.name }}
    user: {{ ext_cluster.name }}
    name: {{ ext_cluster.name }}
current-context: {{ ext_cluster.name }}
users:
- name: {{ ext_cluster.name }}
    user:
    token: {{ ext_cluster.token }}