kind: Config
users:
- name: {{ service_account_name }}
  user:
    token: {{ cluster.token }}
clusters:
- name: {{ cluster.name }}
  cluster:
    tls-skip-verify: true
    server: {{ cluster.url }}
contexts:
- name: current
  context:
    cluster: {{ cluster.name }}
    namespace {{ namespace }}
    user: {{ service_account_name }}
current_context: current        
       
